<?xml version="1.0"?>
<config>
    <modules>
        <Flagbit_FilterUrls>
            <version>0.2.0</version>
        </Flagbit_FilterUrls>
    </modules>
    <frontend>
        <routers>
            <filterurls>
                <use>standard</use>
                <args>
                    <module>Flagbit_FilterUrls</module>
                    <frontName>filterurls</frontName>
                </args>
            </filterurls>
        </routers>
        <layout>
            <updates>
                <filterurls>
                    <file>filterurls.xml</file>
                </filterurls>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <filterurls>
                <class>Flagbit_FilterUrls_Block</class>
            </filterurls>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Flagbit_FilterUrls_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                    <product_list_toolbar_pager>Flagbit_FilterUrls_Block_Catalog_Product_List_Toolbar_Pager</product_list_toolbar_pager>
                    <layer_state>Flagbit_FilterUrls_Block_Layer_State</layer_state>
                    <category_view>Flagbit_FilterUrls_Block_Category_View</category_view>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_pager>Flagbit_FilterUrls_Block_Page_Html_Pager</html_pager>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <filterurls>
                <class>Flagbit_FilterUrls_Helper</class>
            </filterurls>
        </helpers>
        <models>
            <filterurls>
                <class>Flagbit_FilterUrls_Model</class>
                <resourceModel>filterurls_resource_mysql4</resourceModel>
            </filterurls>
            <filterurls_resource_mysql4>
                <class>Flagbit_FilterUrls_Model_Resource_Mysql4</class>
                <entities>
                    <rewrite>
                        <table>filterurls_rewrite</table>
                    </rewrite>
                    <url>
                        <table>filterurls_url</table>
                    </url>
                </entities>
            </filterurls_resource_mysql4>
            <catalog>
                <rewrite>
                    <layer_filter_item>Flagbit_FilterUrls_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <filterurls_setup>
                <setup>
                    <module>Flagbit_FilterUrls</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filterurls_setup>
            <filterurls_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filterurls_write>
            <filterurls_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filterurls_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <filterurls>
                        <type>singleton</type>
                        <class>Flagbit_FilterUrls_Controller_Router</class>
                        <method>addFilterUrlsRouter</method>
                    </filterurls>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <crontab>
        <jobs>
            <filterurls_sitemap>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>filterurls/sitemap::generateXml</model>
                </run>
            </filterurls_sitemap>
        </jobs>
    </crontab>
</config>
